---

- name: detect available php version
  php_version:
    state: present
    os_family: "{{ ansible_os_family }}"
    redhat_version: "{{ php_redhat_version }}"
  register: _php_version

- name: "set php_version '{{ _php_version.available_php_version }}'"
  set_fact:
    php_version: "{{ _php_version.available_php_version }}"
  when: _php_version.available_php_version is defined and not _php_version.failed

- name: set php_package_version
  set_fact:
    php_package_version: "{{ php_version | replace('.','') }}"

- name: do facts module to get latest information
  setup:

- name: include OS-specific variables.
  include_vars: main.yml
