---

- name: systemctl daemon-reload
  systemd:
    daemon_reload: true

- name: restart php-fpm
  service:
    name: "{{ php_fpm_daemon }}"
    state: restarted
  when:
    - php_enable_php_fpm

...
