#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}

; FPM Configuration

; Global Options
[global]
pid                         = {{ php_fpm_global.pid }}
error_log                   = {{ php_fpm_global.error_log }}
{% if php_fpm_global.syslog is defined and
      php_fpm_global.syslog | count > 0 %}
  {% if php_fpm_global.syslog.facility is defined and
        php_fpm_global.syslog.facility | string | length > 0 %}
syslog.facility             = {{ php_fpm_global.syslog.facility }}
  {% endif %}
  {% if php_fpm_global.syslog.ident is defined and
        php_fpm_global.syslog.ident | string | length > 0 %}
syslog.ident                = {{ php_fpm_global.syslog.ident }}
  {% endif %}
{% endif %}
{% if php_fpm_global.log is defined and
      php_fpm_global.log | count > 0 %}
  {% set _loglevel = "warning" %}
  {% set _valid_loglevel = ["alert", "error", "warning", "notice", "debug"] %}
  {% if php_fpm_global.log.level is defined and
        php_fpm_global.log.level in _valid_loglevel %}
    {% set _loglevel = php_fpm_global.log.level %}
  {% endif %}
log_level                   = {{ _loglevel }}
  {% if php_fpm_global.log.limit is defined and
        php_fpm_global.log.limit | string | length > 0 %}
log_limit                   = {{ php_fpm_global.log.limit }}
  {% endif %}
  {% if php_fpm_global.log.buffering is defined and
        php_fpm_global.log.buffering | string | length > 0 %}
log_buffering               = {{ php_fpm_global.log.buffering | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
{% endif %}
{% if php_fpm_global.emergency_restart is defined and
      php_fpm_global.emergency_restart | count > 0 %}
  {% if php_fpm_global.emergency_restart.threshold is defined and
        php_fpm_global.emergency_restart.threshold | string | length > 0 %}
emergency_restart_threshold = {{ php_fpm_global.emergency_restart.threshold }}
  {% endif %}
  {% if php_fpm_global.emergency_restart.interval is defined and
        php_fpm_global.emergency_restart.interval | string | length > 0 %}
emergency_restart_interval  = {{ php_fpm_global.emergency_restart.interval }}
  {% endif %}
{% endif %}
{% if php_fpm_global.process is defined and
      php_fpm_global.process | count > 0 %}
  {% if php_fpm_global.process.control_timeout is defined and
        php_fpm_global.process.control_timeout | string | length > 0 %}
process_control_timeout     = {{ php_fpm_global.process.control_timeout }}
  {% endif %}
  {% if php_fpm_global.process.max is defined and
        php_fpm_global.process.max | string | length > 0 %}
process.max                 = {{ php_fpm_global.process.max }}
  {% endif %}
  {% if php_fpm_global.process.priority is defined and
        php_fpm_global.process.priority | string | length > 0 %}
process.priority            = {{ php_fpm_global.process.priority }}
  {% endif %}
{% endif %}
{% if php_fpm_global.daemonize is defined and
      php_fpm_global.daemonize | string | length > 0 %}
daemonize                   = {{ php_fpm_global.daemonize | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if php_fpm_global.rlimit is defined and
      php_fpm_global.rlimit | count > 0 %}
  {% if php_fpm_global.rlimit.files is defined and
        php_fpm_global.rlimit.files | string | length > 0 %}
rlimit_files                = {{ php_fpm_global.rlimit.files }}
  {% endif %}
  {% if php_fpm_global.rlimit.core is defined and
        php_fpm_global.rlimit.core | string | length > 0 %}
rlimit_core                 = {{ php_fpm_global.rlimit.core }}
  {% endif %}
{% endif %}
{% if php_fpm_global.events is defined and
      php_fpm_global.events | count > 0 %}
  {% if php_fpm_global.events.mechanism is defined and
        php_fpm_global.events.mechanism | string | length > 0 %}
events.mechanism            = {{ php_fpm_global.events.mechanism }}
  {% endif %}
{% endif %}
{% if php_fpm_global.systemd is defined and
      php_fpm_global.systemd | count > 0 %}
  {% if php_fpm_global.systemd.interval is defined and
        php_fpm_global.systemd.interval | string | length > 0 %}
systemd_interval            = {{ php_fpm_global.systemd.interval }}
  {% endif %}
{% endif %}

; Pool Definitions
include                     = {{ php_fpm_pool_conf_path }}/*.conf
