[www]
listen = {{ php_fpm_listen }}
listen.allowed_clients = {{ php_fpm_listen_allowed_clients }}
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

pm = dynamic
pm.max_children = {{ php_fpm_pm.max_children }}
pm.start_servers = {{ php_fpm_pm.start_servers }}
pm.min_spare_servers = {{ php_fpm_pm.spare_servers.min }}
pm.max_spare_servers = {{ php_fpm_pm.spare_servers.max }}
pm.max_requests = 500
